body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #1abc9d;
    margin: 0;
    font-family: Comic Sans MS;
}

h1, h2 {
    font-family: Comic Sans MS;
    font-weight: normal;
    margin: 0.2rem 1.5rem;
    padding: 1rem;
    color: #1abc9d;
}

.form {
    width: 400px;
    height: auto;
    background: #edeff1;
    margin: auto;
    padding: 40px 20px;
    border-radius: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], #nationalities {
    display: block;
    width: 309px;
    height: 35px;
    margin: 15px auto;
    background: #fff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    font-family: Comic Sans MS;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, #nationalities:focus {
    border: 2px solid #1abc9d
}

input[type="submit"] {
    display: block;
    background: #1abc9d;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    font-family: Comic Sans MS;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    color: #F3EFF5;
    background: #DEC237;
}

a {
    text-align: center;
    font-family: Comic Sans MS;
    color: gray;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 12px;
}

a:hover {
    color: #1abc9d;
}

#arrow {
    margin: 0;
    text-align: left;
}

.passwordmustbe {
    color: #FFF;
    font-size: 18px;
}

#error_message {
    display: block;
    text-align: center;
    padding: 0.5rem 0.5rem;
}