h1, h2, h4, label {
    margin: 0 auto;
    user-select: none;
}

span {
    text-align: center;
}

input[type="submit"], button {
    max-width: 16rem;
    margin-left: 0.75rem;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-family: Comic Sans MS;
    padding: 0.95rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #F3EFF5;
    background: #10c7d1;
}

#edit_reservation {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    font-family: Comic Sans MS;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 84rem;
    max-height: 18rem;
}

#reservation {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    user-select: none;
}

#reservation_admin {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin: 0 auto;
    margin-left: -6rem;
    user-select: none;
}

#select_user_reservation, #select_reservation {
    max-width: 16rem;
    min-width: 8rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#close_edit_reservation, #close_info_washer {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    float: right;
}

#close_edit_reservation:hover, #close_info_washer:hover {
    color: #F3EFF5;
    background: #bb0b0b;
}

#info_washer {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 32rem;
    max-height: 12rem;
}

#washer_status {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    user-select: none;
}

#washername {
    margin: 2rem 1rem 2rem;
    max-width: 8rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

.washer_status {
    max-width: 17rem;
    min-width: 6rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}