h1, h2, h4, label {
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

span {
    text-align: center;
    background: #FFFFFF;
}

input[type="submit"], button {
    max-width: 16rem;
    margin-left: 0.75rem;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-family: Comic Sans MS;
    padding: 0.95rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #F3EFF5;
    background: #10c7d1;
}

#edit_reservation {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    font-family: Comic Sans MS;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 40rem;
    max-height: 25rem;
}

#reservation {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    place-items: center;
    user-select: none;
}

#reservation_admin {
    display: grid;
    grid-auto-flow:column dense;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-auto-columns: auto;
    place-items: center;
    user-select: none;
}

#select_user_reservation, #select_reservation {
    max-width: 16rem;
    min-width: 8rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#delete_user_field {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 2.5px solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    min-width: 12rem;
    max-width: 16rem;
    min-height: 4rem;
    max-height: 8rem;
}

#delete_user_submit {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    float: left;
    left: 1rem;
    bottom: 1rem;
}

#confirm_softdelete_submit, #restore_user_submit {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    float: left;
    right: 1rem;
    bottom: 1rem;
}

#info_restore {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 50rem;
    max-height: 22rem;
}

#restore_form {
    display: grid;
    grid-auto-flow:column dense;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-auto-columns: auto;
    place-items: center;
    user-select: none;
}

#restore_user_field {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 2.5px solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    min-width: 12rem;
    max-width: 16rem;
    min-height: 4rem;
    max-height: 8rem;
}

#restore_user {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    float: right;
    right: 1rem;
    bottom: 1rem;
}

#restore_user_submit:hover {
    color: #F3EFF5;
    background: #05ca15;
}

.user_restore {
    margin: 2rem 1rem 2rem;
    max-width: 12rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#confirm_delete_submit:hover, #confirm_softdelete_submit:hover, #delete_user_submit:hover {
    color: #F3EFF5;
    background: #bb0b0b;
}

#close_edit_reservation, #close_info_washer, #close_info_washing_program, #close_info_user, #close_info_restore, #close_add_washer, #close_add_washing_program {
    padding: 0.7rem;
    float: right;
}

#close_edit_reservation:hover, #close_info_user:hover, #close_info_washer:hover, #close_info_washing_program:hover, #close_info_restore:hover, #close_add_washer:hover, #close_add_washing_program:after {
    color: #bb0b0b;
}

#info_washer{
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 32rem;
    max-height: 12rem;
}

#info_washing_program{
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 2rem;
    max-width: 50rem;
    max-height: 12rem;
}

#washer_status {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    user-select: none;
}

#washing_program_status {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0 auto;
    user-select: none;
}

#washername {
    margin: 2rem 1rem 2rem;
    max-width: 10rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#wpname, #wname {
    margin: 2rem 1rem 2rem;
    max-width: 20rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#ugrid, #usgrid {
    display: grid;
    margin: 0 auto;
    place-items: center;
    grid-template-columns: auto auto;
}

#add_washer_div {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 30rem;
    max-height: 10rem;
}

#add_washing_program_div{
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 50rem;
    max-height: 10rem;
}

#wgrid, #wpgrid, #add_washer_form {
    display: grid;
    margin: 0 auto;
    place-items: center;
    grid-template-columns: auto auto auto;
}

#add_washing_program_form{
    display: grid;
    margin: 0 auto;
    place-items: center;
    grid-template-columns: auto auto auto auto auto;
}

.washer_status {
    max-width: 17rem;
    min-width: 6rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

.washing_program_status {
    max-width: 8rem;
    min-width: 6rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#info_user {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 80rem;
    max-height: 26rem;
}

#user_status {
    display: grid;
    grid-auto-flow:column dense;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    grid-auto-columns: auto;
    place-items: center;
    margin: 0 auto;
    user-select: none;
}

.user_status {
    margin: 2rem 1rem 2rem;
    max-width: 18rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

#set_user {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    float: right;
    right: 1rem;
    bottom: 1rem;
}

#text_washer, #text_washing_program_name, #text_washing_program_time {
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    border: 2.5px solid #000;
    border-radius: 1rem;
    max-width: 13rem;
    font-size: large;
    font-family: Comic Sans MS;
    user-select: none;
}

#text_washing_program_price{
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    border: 2.5px solid #000;
    border-radius: 1rem;
    max-width: 5rem;
    font-size: large;
    font-family: Comic Sans MS;
    user-select: none;
}
