h1, h4 {
    user-select: none;
    margin: 0 auto;
}

#reservation_available {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    margin: 0 auto;
    user-select: none;
}

#reservation {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0 auto;
    user-select: none;
}

.datepicker {
    margin: 2rem 2rem;
    padding: 0.5rem 0.2rem;
    font-family: COMIC SANS MS;
    min-width: 10rem;
    font-size: large;
    border-radius: 1rem;
    text-align: center;
    user-select: none;
}

.timepicker {
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    min-width: 6rem;
    max-width: 8rem;
    font-family: COMIC SANS MS;
    font-size: large;
    border-radius: 1rem;
    user-select: none;
}

.selezione {
    max-width: 17rem;
    min-width: 12rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-family: COMIC SANS MS;
    font-size: large;
    border-radius: 1rem;
    user-select: none;
}

input[type="submit"], button {
    max-width: 8rem;
    margin-left: 0.75rem;
    margin-right: auto;
    text-shadow: 0;
    text-align: center;
    text-decoration: none;
    font-family: COMIC SANS MS;
    font-size: large;
    padding: 0.95rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #F3EFF5;
    background: #1ABC9D;
}

input[type="submit"]:hover, button:hover {
    color: #F3EFF5;
    background: #DEC237;
}

.error_message_date {
    grid-column: 1;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.error_message_time {
    grid-column: 2;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

#washers_status {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    user-select: none;
}

#washers_status div {
    max-width: 10rem;
    min-width: 15rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-family: COMIC SANS MS;
    font-size: large;
    border-radius: 1rem;
    user-select: none;
}

#info_account {
    display: none;
}

#info_reservation {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    min-width: 15rem;
    max-width: 30rem;
    min-height: 10rem;
    max-height: 15rem;
}

#table_info_reservation{
    width: 100%;
}

#close_info_reservation {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    float: right;
}

#edit_reservation_submit, #confirm_delete_submit {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    float: right;
    right: 1rem;
    bottom: 1rem;
}

#delete_field {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    min-width: 12rem;
    max-width: 16rem;
    min-height: 4rem;
    max-height: 8rem;
}

#delete_reservation_submit, #cancel {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    float: left;
    left: 1rem;
    bottom: 1rem;
}

#close_info_reservation, #delete_reservation_submit:hover, #confirm_delete_submit:hover {
    color: #F3EFF5;
    background: #bb0b0b;
}