h1, h2, h4 {
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

#reservation_available {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    margin: 0 auto;
    user-select: none;
}

#reservation {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0 auto;
    user-select: none;
}

.datepicker {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.2rem;
    min-width: 8rem;
    font-size: large;
    font-family: Comic Sans MS;
    border-radius: 1rem;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.timepicker {
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    min-width: 4rem;
    font-size: large;
    font-family: Comic Sans MS;
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
}

.selezione {
    max-width: 16rem;
    min-width: 4rem;
    margin: 2rem 1rem 2rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
}

input[type="submit"], button {
    max-width: 8rem;
    margin-left: 0.75rem;
    margin-right: auto;
    text-shadow: 0;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-family: Comic Sans MS;
    padding: 0.95rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #F3EFF5;
    background: #10c7d1;
}

input[type="submit"]:hover, button:hover {
    color: #F3EFF5;
    background: #DEC237;
}

.error_message_date {
    grid-column: 2;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.error_message_time {
    grid-column: 3;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

#washers_status {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    user-select: none;
}

#washers_status div {
    padding: 0.5rem 0.5rem;
    width: auto;
    border-radius: 1rem;
    user-select: none;
}

#info_account {
    display: none;
}

#info_reservation {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 1rem;
    max-width: 50rem;
    max-height: 22rem;
}

#form_edit {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    margin: 0 auto;
    user-select: none;
}

#washer2, #washing_program2 {
    min-width: 3rem;
    max-width: 10rem;
    margin: 2rem 0.5rem 2rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-family: Comic Sans MS;
    border: 2.5px solid #000;
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
}

#reservationid {
    padding: 0.5rem;
    border: 2.5px solid #000;
    margin-right: 0.3rem;
    border-radius: 40px;
    user-select: none;
}

#close_info_reservation {
    padding: 0.7rem;
    float: right;
    top: 1rem;
    right: 1rem;
}

#close_info_reservation:hover {
    color: #bb0b0b;
}

#edit_reservation_submit, #confirm_delete_submit {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    float: right;
    right: 1rem;
    bottom: 1rem;
}

#delete_field {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    align-items: center;
    font-size: large;
    background-color: #EEE;
    border: 2.5px solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    min-width: 12rem;
    max-width: 16rem;
    min-height: 4rem;
    max-height: 8rem;
}

#delete_reservation_submit, #cancel {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: absolute;
    float: left;
    left: 1rem;
    bottom: 1rem;
}

#delete_reservation_submit:hover, #confirm_delete_submit:hover {
    color: #F3EFF5;
    background: #bb0b0b;
}
#iduser, #washerid, #washingprogramid, #user1, #reservation1, #iduser_restore {
    min-width: 2rem;
}